/* All the CSS things */

/* Main Stylings */

body {
  margin : 0;
  font-family: Georgia, Serif;
  background-color: #AEC3B0;
  margin: 0;
}

header{
  height: 100px;
  font-size: 60px;
  color: #EFF6E0;
  text-align: center;
  font-family: Georgia, serif:
  background-color: #01161E;
  padding: 15px;
  
}

img{
  border-radius: 5px;
  margin: 15px;
}

main{
  background color: #598392;
  text-align: center;
}
  
header h2{
  font-family: Georgia, serif;
  color: #EFF6E0;
  font-size: 20px;
  text-align: center;
}

footer{
  background-color: #01161E;
  font-family: Georgia, serif;
  background-color: #AEC3B0;
  text-align: center;
  padding: 12px;
}

section{
  padding: 0 25%;
  margin: 80px 0;
}

p{
  font-family: Georgia, serif;
  color: 124559;
}

ol, ul{
  text-align: left;
}

a{
  a: link {color: #blue;}
  a: visited {color: #663366;}
  a: hover {color: #3366BB}
}
